doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title <%= projectName.title %>
    meta(name="description", content="<%= description %>")
    include _head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.header
        .row
          .columns
            h1 <%= projectName.title %>

      main#main
        .row
          .columns
            p <%= description %>

      footer.footer
        .row
          .columns
            p &phi;

    include _scripts.jade
