doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title a r r o w
    meta(name="description", content="a r r o w")
    include _head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.header
        .row
          .columns
            h1 a r r o w

      main#main
        .row
          .columns
            p a shaft sharpened at the front and with feathers or vanes at the back, shot from a bow as a weapon or for sport.

      footer.footer
        .row
          .columns
            p &phi;

    include _scripts.jade
