h3 Foundation Defaults
p Theme defaults, to modify edit _settings.scss
ul.inline-list.no-margin-bottom
  li
    a.button.tiny(href="#") Tiny Button
  li
    a.button.small(href="#") Small Button
  li
    a.button(href="#") Default Button
  li
    a.button.large(href="#") Large Button

ul.inline-list.no-margin-bottom
  li
    a.button.success(href="#") Success Button
  li
    a.button.secondary(href="#") Secondary Button
  li
    a.button.alert(href="#") Alert Button
  li
    a.button.info(href="#") Info Button
  li
    a.button.disabled(href="#") Disabled Button



h3.margin-top Custom
ul.inline-list.no-margin-bottom
  li
    a(href="#").button-1 Learn More
  li
    a(href="#").button-2 Read More
