h3 Custom
ul.row.collapse.small-up-1.medium-up-3.large-up-4.no-bullet
  li.column(data-clipboard, data-clipboard-text="red")
    .page-section.text-center.red-bg
      span.white red
  li.column(data-clipboard, data-clipboard-text="green")
    .page-section.text-center.green-bg
      span.white green
  li.column(data-clipboard, data-clipboard-text="blue")
    .page-section.text-center.blue-bg
      span.white blue

h3 Foundation 5 Legacy colors
ul.row.collapse.small-up-1.medium-up-3.large-up-4.no-bullet
  li.column(data-clipboard, data-clipboard-text="white")
    .xtra-thin-page-section.text-center.white-bg
      span.black white
  li.column(data-clipboard, data-clipboard-text="ghost")
    .xtra-thin-page-section.text-center.ghost-bg
      span.black ghost
  li.column(data-clipboard, data-clipboard-text="snow")
    .xtra-thin-page-section.text-center.snow-bg
      span.black snow
  li.column(data-clipboard, data-clipboard-text="vapor")
    .xtra-thin-page-section.text-center.vapor-bg
      span.black vapor
  li.column(data-clipboard, data-clipboard-text="white-smoke")
    .xtra-thin-page-section.text-center.white-smoke-bg
      span.black white-smoke
  li.column(data-clipboard, data-clipboard-text="silver")
    .xtra-thin-page-section.text-center.silver-bg
      span.black silver
  li.column(data-clipboard, data-clipboard-text="smoke")
    .xtra-thin-page-section.text-center.smoke-bg
      span.black smoke
  li.column(data-clipboard, data-clipboard-text="gainsboro")
    .xtra-thin-page-section.text-center.gainsboro-bg
      span.black gainsboro
  li.column(data-clipboard, data-clipboard-text="iron")
    .xtra-thin-page-section.text-center.iron-bg
      span.black iron
  li.column(data-clipboard, data-clipboard-text="base")
    .xtra-thin-page-section.text-center.base-bg
      span.black base
  li.column(data-clipboard, data-clipboard-text="aluminum")
    .xtra-thin-page-section.text-center.aluminum-bg
      span.black aluminum
  li.column(data-clipboard, data-clipboard-text="jumbo")
    .xtra-thin-page-section.text-center.jumbo-bg
      span.black jumbo
  li.column(data-clipboard, data-clipboard-text="monsoon")
    .xtra-thin-page-section.text-center.monsoon-bg
      span.white monsoon
  li.column(data-clipboard, data-clipboard-text="steel")
    .xtra-thin-page-section.text-center.steel-bg
      span.white steel
  li.column(data-clipboard, data-clipboard-text="charcoal")
    .xtra-thin-page-section.text-center.charcoal-bg
      span.white charcoal
  li.column(data-clipboard, data-clipboard-text="tuatara")
    .xtra-thin-page-section.text-center.tuatara-bg
      span.white tuatara
  li.column(data-clipboard, data-clipboard-text="oil")
    .xtra-thin-page-section.text-center.oil-bg
      span.white oil
  li.column(data-clipboard, data-clipboard-text="jet")
    .xtra-thin-page-section.text-center.jet-bg
      span.white jet
  li.column(data-clipboard, data-clipboard-text="black")
    .xtra-thin-page-section.text-center.black-bg
      span.white black
