h3 CSS mapping
ul.glyphs.css-mapping
  li Lorem
  li sit
  li amet
  li consectetur
  li adipisicing
  li elit.
  li Sint
  li dignissimos
  li ipsa
h3 Character mapping
ul.glyphs.character-mapping
  li nihil
  li veritatis
  li id
  li debitis
  li fugiat
  li impedit
  li doloremque
  li nobis
  li sapiente
  li ut
  li labore
